<header>
  <div id="header">
    <div class="imageLogo">
      <a href="{{ .Site.BaseURL }}">
        <img src="{{ .Site.Params.logo.newLogo }}" alt="Periodico em Nuvens" />
      </a>
    </div>
    <h2 class="project-tagline">
      {{ $.Site.Params.project_tagline | markdownify }}
    </h2>
    <nav>
      {{ $current := . }} {{ range .Site.Menus.nav }} {{ $active := or
      ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }} {{
      $active = or $active (eq .Name $current.Title) }} {{ $active = or $active
      (and (eq .Name "Blog") (eq $current.Section "post")) }} {{ $active = or
      $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
      <a href="{{ .URL }}" class="nav_links">{{ .Name }}</a>
      {{ end }}
    </nav>
  </div>
</header>
